.main {
    margin-top: 10%;
}

.login h1 {
    color: hsl(218, 81%, 95%);
    text-align: center;
}

.login span {
    color: hsl(218, 81%, 75%);
    font-size: 4rem;
}

.login-card{
    margin-top: 14%;
}

/* styling for input form */
.form-signin {
    max-width: 390px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* media queries for responsiveness */
@media (max-width: 767px) {
    .login h1 {
        font-size: 2rem;
        margin-top: 0;
    }

    .login span {
        font-size: 2.5rem;
    }

    .position-relative {
        margin-top: 20%;
    }

    .card {
        margin: 0 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .login h1 {
        font-size: 3rem;
    }

    .login span {
        font-size: 3rem;
    }
}

