.time-table {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.time-table h1 {
    font-weight: 700;
    margin: 1.5% 0 2%;
    opacity: 0.85;
}

.time-table h2 {
    font-weight: 600;
    opacity: 0.85;
}

/* -------------------Card Content Classes-------------- */

.time-table h4 {
    font-weight: 600;
}

.timetable-card {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 5rem;
    border-radius: 20px;
    border: none;
    padding: 1%;
    overflow: auto;
}


.modal-dialog {
    width: 90vw;
    max-width: 90vw;
}

@media (max-width: 576px) {
    .time-table .timetable-card {
      margin: 2% auto;
      width: 80%;
    }
  }
  