/* button to view the calendar */
.calendar-button{
    margin-top: 1%;
    border-color: #2B3597;
    color: #2B3597;
}

/* CSS for button on hover */
.calendar-button:hover{
    background-color : #2B3597 ;
    opacity: 0.8;
}