/* Styles for classes section heading */
.classes h2 {
  font-size: 1.8rem;
  font-weight: 600;
  opacity: 0.95;
}

/* -------------------Card Content Classes-------------- */

.classes-card {
  margin: 1% 1.5% 3%;
  width: 30%;
  overflow-y: hidden !important;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  border: none;
  padding: 1%;
  overflow: auto;
  height: auto;
}

.class-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .classes-card {
    width: 45%;
    height: auto;
    margin-bottom: 5%;
  }
}


@media screen and (max-width: 576px) {

  .classes h1 {
    margin: 5%;
    opacity: 0.9;
  }

  .classes h2 {
    font-size: 1.44rem;
    font-weight: 600;
  }

  .classes-card {
    width: 80%;
    padding: 3%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  }
}
