.custom-navbar {
    font-family: 'Poppins', sans-serif;
    padding: 0.35% 2% 0.35% 0%;
    font-weight: 500;
}

.navbar-list {
    font-size: 1.4rem;
}

.navbar-nav>li {
    padding-left: 15px;
    padding-right: 15px;
}

/* ----Search ------- */

.nav-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    border-color: rgb(147, 168, 216);
    color: white;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}

.nav-input::placeholder {
    color: white;
    opacity: 0.5;
}

textarea:focus,
.nav-input:focus {
    outline: none;
}

.fa-magnifying-glass {
    color: aliceblue;
    opacity: 0.8;
    margin: 2%;
    font-size: larger;
}

/* logout */

.nav-logout {
    color: white;
    opacity: 0.8;
    display: none;
}

/* ----------theme icon -----------*/
.theme-small-device{
    display: none;
}

.theme{
    margin: 0.5% -2% 0 1.5%;
    display: block;
    opacity: 0.9;
}

.theme span{
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

/* ------media queries for responsiveness----------- */

@media screen and (max-width: 990px) {
    .nav-logout {
        display: block;
    }
    .theme{
        display: none;
    }
    .theme-small-device{
        display: block;
        margin-left: 13%;
    }
    .theme-small-device span{
        color: white;
        font-size: 2rem;
        cursor: pointer;
    }
}

@media screen and (max-width: 1140px){
    .nav-input{
        width: 75%;
    }
}
