/* Styling for input card */
.input-classes-card{
    margin: auto;
    border-radius: 25px;
    width: 60rem;
	transform: translateX(-17%);
}

/* Styling for input classes table */
.input-classes-table{
    width: 100%;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) and (min-width:1000px){
    .input-classes-card{
        transform: translateX(-30%);
    }
}

@media (max-width: 1000px) {
    .input-classes-card {
        width: 100%;
        transform: none;
    }
}