/*------------- Input todo card styling -------------*/

.add-todo-card {
  margin: 2%;
  width: 80%;
  max-height: 20rem;
  border-radius: 20px;
  border: none;
  padding: 1%;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
}

/* ---------styling for todo items --------------- */
.todo-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.todo-card {
  margin: 2%;
  width: 28%;
  min-height: 30%;
  border-radius: 20px;
  border: none;
  padding: 1%;
  text-align: left;
  padding: 2%;

}

.todo-card .todo-content {
  overflow: auto;
  min-height: 80%;
  margin-bottom: 20px;
}

.todo-card .item-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.item-input-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.todo-card .item-description {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.todo-card .edit-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo i {
  opacity: 0.8;
}

.logout-icon {
  position: fixed;
  padding: 0.9%;
  right: 2%;
  bottom: 4%;
  z-index: 10 !important;
  border: 0;
  opacity: 0.9;
}

/* For screens smaller than 768px */
@media screen and (max-width: 768px) {
  .add-todo-card {
    flex-direction: column;
    width: 80%;
    margin: 2% auto;
  }

  .todo-card {
    width: 90%;
    padding: 5%;
    margin: 2% 0 5%;
  }

  .todo-card .item-title{
    font-size: 1.2rem;
  } 

  .todo i{
    size: 5rem;
  }
  /* set logout icon hidden on smaller devices */
  .logout-icon {
    visibility: hidden;
  }
}